body {
  font-family: arial;
}
.image {
  width: 300px;
}
.search {
  display: block;
}
.tech {
  width: 200px;
  line-height: 20px;
}
.author {
  width: 200px;
}
.stats {
  width: 200px;
}
.video-editor {
  display: inline-block;
}
.video-writer {
  vertical-align: top;
  width: 300px;
  display: inline-block;
  margin-left: 15px;
}
.channel {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}
.video_info {
  display: inline-block;
  width: 100px;
}
.profile {
  width: 100%;
  border-radius: 50%;
}
